//--------------------------------------------------------------------------------------------------
// BRAND COLORS
//--------------------------------------------------------------------------------------------------
@primary: 						#f7877f;
@secondary: 					#493f3f;
@success: 						#00aa95;
@alert: 						#cf5757;
@dark:							#000000;
@light:							#ffffff;



@layout-density:				1.5em;
@text-density:					1.25em;
@element-density:				1.25em;

//--------------------------------------------------------------------------------------------------
// TRANSITION SETTINGS
//--------------------------------------------------------------------------------------------------
@time: 							250ms;
@delay:							5ms;
// @ease:	 						cubic-bezier(0.895, 0.03, 0.685, 0.22); // easeInQuart
@ease: 							cubic-bezier(0.445, 0.05, 0.55, 0.95); // easeInOutSine
// @ease: 							cubic-bezier(0.755, 0.05, 0.855, 0.06); // easeInQuint
// @ease: 							cubic-bezier(0.23, 1, 0.32, 1); // easeOutQuint
// @ease: 							cubic-bezier(1, 0, 0, 1); // easeInOutExpo
// @ease: 							cubic-bezier(0.68, -0.55, 0.265, 1.55); // easeInOutBack
// @ease: 							cubic-bezier(0.6, -0.28, 0.735, 0.045); // easeInBack
// @ease: 							cubic-bezier(0.77, 0, 0.175, 1); // easeInOutQuart
