*

/flatsome-child/*
!/flatsome-child/
!/flatsome-child/*.php
!/flatsome-child/*.js
!/flatsome-child/components/

!/less
!/less/*.less

!.remote-sync.json
!less-watch-compiler.config.json
!package.json

!.gitignore
